---
import footerContent from '../content/footer.json'
---

<footer class="p-6 text-white sm:p-16">
	<div class="mb-8 flex w-full flex-col gap-8 md:mb-12 md:flex-row md:gap-24">
		<a class="flex-1" href="/">
			<img src=`${import.meta.env.BASE_URL}logo/quovadis-logo.svg` />
		</a>
		{
			footerContent?.map((item) => (
				<div class="min-w-72">
					<div class="title">{item.title}</div>
					<ul>
						{item?.links?.map((link) => (
							<li>
								{link.url ? (
									<a href={link.url} target="_blank">
										{link.name}
									</a>
								) : (
									<span>{link.name}</span>
								)}
							</li>
						))}
					</ul>
				</div>
			))
		}
	</div>
</footer>

<style>
	footer {
		min-height: var(--footer-height);

		.title {
			font-size: 0.625rem;
			font-weight: 600;
			line-height: 1.5;
			text-transform: uppercase;
		}

		ul {
			@apply opacity-50;

			li {
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 1.5;

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
</style>
