---
import partners from '../content/partners.json'

const { category } = Astro.props
---

<>
	<h2 class="mb-4 w-full">
		{category}
	</h2>
	<div
		class="animate--on-visibility relative mb-16 grid"
		data-animationclass="animate__slideInUp"
	>
		<div class="backdrop"></div>
		<ul role="list" class="partner-list">
			{
				partners
					.filter((el) => el.category.includes(category))
					.map((partner) => (
						<li class={`partner-item bg-white${partner.website ? ' link-scale' : ''}`}>
							<a href={partner.website} target="_blank">
								<div class="flex h-full flex-col items-center justify-center text-center">
									<img
										class="h-24 object-contain p-2"
										src={`${import.meta.env.BASE_URL}partner-logos/${
											partner.logo
										}`}
										alt={partner.name}
									/>
									<h3>{partner.name}</h3>
								</div>
							</a>
						</li>
					))
			}
		</ul>
	</div>
</>

<style>
	h2 {
		text-align: center;
		font-size: 32px;
		line-height: normal;
		background: linear-gradient(90deg, #ce4da4 0%, #7353e5 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	h3 {
		color: #13111a;
		font-size: 12px;
		line-height: 150%;
		opacity: 0.5;
	}

	.backdrop {
		position: absolute;
		top: -10px;
		bottom: -10px;
		left: -10px;
		right: -10px;
		opacity: 0.6;
		background: linear-gradient(
			90deg,
			rgba(138, 121, 255, 0.8) 0%,
			rgba(206, 77, 164, 0.8) 100%
		);
		filter: blur(30px);
	}

	.partner-list {
		display: flex;
		flex-wrap: wrap;
		gap: 1px;
		border-radius: 20px;
		overflow: hidden;

		.partner-item {
			min-height: 160px;
			transition: all 0.3s ease-in-out;
			transform-style: preserve-3d;
			--gap: 1px;
			--n: 2;
			width: calc((100% / var(--n)) - (((var(--n) - 1) / var(--n)) * var(--gap)));

			@media (min-width: 640px) {
				--n: 3;
			}

			@media (min-width: 1024px) {
				--n: 4;
			}

			&:only-child {
				flex: 1;
			}
		}

		.link-scale {
			&:hover {
				transform: scale(0.9);
			}
		}
	}
</style>
