---
import partners from '../content/partners.json'

const { category } = Astro.props
---

<>
	<div class="mb-9 w-full text-center">
		<h3 class="text-base leading-7 tracking-tight sm:text-xl">
			{category}
		</h3>
	</div>
	<div class="mx-auto mb-9 grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8">
		<ul role="list" class="flex flex-wrap justify-center gap-4 sm:gap-x-8 sm:gap-y-16">
			{
				partners
					.filter((el) => el.category.includes(category))
					.map((partner) => (
						<li class={`partner-item sm:mb-6${partner.website ? ' link-scale' : ''}`}>
							<a href={partner.website} target="_blank">
								<div class="flex h-full flex-col items-center gap-x-6 text-center">
									<div class="flex w-full justify-center rounded-lg bg-white">
										<img
											class="h-24 object-contain p-2"
											src={`${import.meta.env.BASE_URL}partner-logos/${
												partner.logo
											}`}
											alt={partner.name}
										/>
									</div>
									<h3 class="text-sm leading-7 tracking-tight">{partner.name}</h3>
								</div>
							</a>
						</li>
					))
			}
		</ul>
	</div>
</>

<style>
	h3 {
		font-family: inherit;
	}

	.partner-item {
		--gap: 16px;
		--n: 2;
		width: calc((100% / var(--n)) - (((var(--n) - 1) / var(--n)) * var(--gap)));

		@media (min-width: 640px) {
			--gap: 32px;
			--n: 3;
		}

		@media (min-width: 1024px) {
			--n: 4;
		}
	}

	.link-scale {
		transition: all 0.3s ease-in-out;
		transform-style: preserve-3d;

		&:hover {
			transform: scale(1.1);

			@media (min-width: 640px) {
				transform: scale(1.2);
			}
		}
	}
</style>
