---
import 'animate.css'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href=`${import.meta.env.BASE_URL}favicon.png` />

		<title>{title}</title>

		<script type="text/javascript" src="https://blocksurvey.io/assets/js/blocksurvey-widget.js"
		></script>
		<script
			type="module"
			src="https://unpkg.com/@dotlottie/player-component@2.7.8/dist/dotlottie-player.mjs"
		></script>
	</head>
	<body class="relative">
		<slot />
		<dotlottie-player
			id="floating-symbol"
			class="floating-symbol"
			role="presentation"
			playMode="bounce"
			worker></dotlottie-player>
	</body>
</html>

<style is:global>
	:root {
		--nav-height: 89px;
		--footer-height: 220px;
		--main-bg-color: #13111a;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--main-bg-color);
	}
	main {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	h1,
	h2,
	h3 {
		font-weight: 600;
	}
	.animate--on-visibility {
		transition: visibility 0.3s ease-in-out;
		visibility: hidden;
	}
	.animate__animated {
		--animate-duration: 2s;
		visibility: visible;
	}

	.scroll-reveal span {
		color: hsl(0 0% 100% / 0.3);
		background-clip: text;
		background-repeat: no-repeat;
		background-size: 0% 100%;
		background-image: linear-gradient(90deg, white, white);
		animation: scroll-reveal linear forwards;
		animation-timeline: view(y);
	}

	@keyframes scroll-reveal {
		to {
			background-size: 100% 100%;
		}
	}

	.noscroll {
		overflow: hidden;
	}

	.floating-symbol {
		position: absolute;
		height: min(35vw, 375px);
		width: min(35vw, 375px);
		opacity: 0.05;
		top: calc(-1 * min(35vw, 375px));
		left: calc(-1 * min(35vw, 375px));
		pointer-events: none;
	}
</style>

<script>
	const animatingClassName = 'animate__animated'

	const observerOptions = {
		root: null,
		/** @type {String} */
		rootMargin: '0px',
		/** @type {Number} */
		threshold: 0.05,
	}

	function intersectionCallback(intersectingEntries) {
		for (let j = 0; j < intersectingEntries.length; j++) {
			if (
				intersectingEntries[j].isIntersecting &&
				intersectingEntries[j].intersectionRatio > observerOptions.threshold
			) {
				if (intersectingEntries[j].target && intersectingEntries[j].target.classList) {
					var animationClassName = intersectingEntries[j].target.dataset.animationclass
					intersectingEntries[j].target.classList.add(
						animatingClassName,
						animationClassName,
					)
				}
			}
		}
	}

	document.addEventListener('DOMContentLoaded', function () {
		const observer = new IntersectionObserver(intersectionCallback, observerOptions)
		const elementsAnimatedOnVisibility =
			document.getElementsByClassName('animate--on-visibility')
		for (let i = 0; i < elementsAnimatedOnVisibility.length; i++) {
			observer.observe(elementsAnimatedOnVisibility[i])
		}
	})

	const floatingSymbolHandling = () => {
		const floating: any = document.getElementById('floating-symbol')

		if (!floating) {
			return
		}

		const getRandom = (min: number, max: number) =>
			Math.floor(Math.random() * (max - min + 1)) + min

		const loadNewSymbol = () => {
			const totalSymbols = 18

			floating.load(
				import.meta.env.BASE_URL +
					`media/lottie-files/symbols/${getRandom(1, totalSymbols)}.lottie`,
			)
		}

		loadNewSymbol()

		let complete = false

		// Force play because player stops when out of viewport and it doesn't fire freeze event
		setInterval(() => {
			floating.play()
		}, 2500)

		floating?.addEventListener('complete', () => {
			if (!complete) {
				complete = true

				loadNewSymbol()
			}
		})
		floating?.addEventListener('ready', () => {
			complete = false

			const playerDimensions = floating.getBoundingClientRect()

			const viewportTop = window.scrollY
			const viewportBottom = window.scrollY + window.innerHeight

			const newTop = getRandom(viewportTop, viewportBottom - playerDimensions.width)
			const newLeftPercentage = getRandom(0, 100)

			if (newLeftPercentage >= 50) {
				floating.style.right = `${newLeftPercentage - 50}%`
				floating.style.left = 'auto'
			} else {
				floating.style.right = 'auto'
				floating.style.left = `${newLeftPercentage}%`
			}

			floating.style.top = `${(newTop / document.body.scrollHeight) * 100}%`
		})
	}

	window.addEventListener('load', floatingSymbolHandling)
</script>
